---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Contact from '~/components/widgets/Contact.astro';
import ContactForm from '~/components/ContactForm.astro';

const metadata = {
  title: 'Akili Robotics - Uniting Robotics across Africa',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <div class="mb-10"></div>

  <Header id="home" />

  <!-- Stats Widget ****************** -->
  <Stats
    stats={[
      { title: 'Countries', amount: '55' },
      { title: 'Members', amount: '24.8K' },
      { title: 'Partner Labs', amount: '17' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="View our recent Events" />


  <!-- Contact Us *********** -->
  <ContactForm />
</Layout>
