---
import Layout from '~/layouts/Layout.astro';
import Nav from '~/components/widgets/Nav.astro';
import Footer from '~/components/widgets/Footer.astro';
import FloatingMenu from '~/components/ui/FloatingMenu.astro';

import { navData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Nav />
    <FloatingMenu
      items={[
        { label: 'Akili Robotics', href: '/' },
        { label: 'Outreach', href: '/outreach' },
        { label: 'Partners', href: '/partners' },
        { label: 'Join Us', href: '/join' },
      ]}
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
